# ==============================================================================
# Environment Template
# Copy this file to .env and fill in the actual values.
# ==============================================================================

# --- PostGreSQL Configuration ---
PG_USER=under_5ms_user
PG_PASSWORD=under_5ms_password
PG_DB=under_5ms_db

# --- MongoDB Configuration ---
MONGO_NAME=under5ms_database
MONGO_USER=root
MONGO_PASSWORD=passwordRoot
MONGO_HOST=mongodb
MONGO_PORT=27017

# --- RabbitMQ Configuration ---
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# --- Security ---
# Ensure JWT_SECRET is a long, random string in your local .env
JWT_ALGORITHM=HS256
JWT_SECRET=what_what_what_kendrick_lama_j_cole_mopad

# --- Application Metadata ---
environment=development
app_name=under5ms_microservices

PORT=3012
